* {
  color: @theme_fg_color;
}

#window {
}

#box {
  background: @theme_bg_color;
  padding: 10px;
  border-radius: 2px;
}

#search {
  border-radius: 0;
  outline: none;
  outline-width: 0px;
  box-shadow: none;
  border-bottom: none;
  border: none;
  background: @insensitive_base_color;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 2px;
}

#search placeholder {
  opacity: 0.5;
}

#list {
}

#list *:selected {
  background: @insensitive_base_color;
}

.item {
  padding: 5px;
  border-radius: 2px;
}

.icon {
  padding-right: 5px;
}

.textwrapper {
}

.label {
}

.sub {
  opacity: 0.5;
}

.activationlabel {
  opacity: 0.25;
}

.activation .activationlabel {
  opacity: 1;
  color: @theme_selected_bg_color;
}

.activation .textwrapper,
.activation .icon,
.activation .search {
  opacity: 0.5;
}
