{
	"data": "ENC[AES256_GCM,data:DD1XsPG8S7qWGMUeuLoHH4VCcpi4QBUJxEcjOpl/EWmvWc7pgaDtWa1tZNxcYVqBfQfS0hw1yqyrpUR9M1aGmPH51GGJBfNOmJPPVJNFI40SLxTe0cglf1AyOImfbgipAMYkIgCIMWy/ESpko0n2TrglsAzhGccLWaUxQ4odvhrpB64=,iv:+TbJiaAoie07MXvHltGwgX814i7R/AxZOUrXFexq18Y=,tag:7EuhXECsGjZAv7sGYGzXBA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1tc8gpfjyheg2x98rdk6q9cf22y8w47fg4fet44tkdfy08p03gd0qjm7dxj",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1WURWc1pzYlhNK2JLWXpt\nTThjZ2swa01yVkxhOE84SzBMeFJPSlgwM3hrCmdVU3ZsQWN1ZWQ0blg5d2RQMS9a\nNVo0UUd0aGFRY2hRejZEVWhSSFZXVXMKLS0tIHVqZ2dQK2MxaTNkcTBjMVZjS2NC\nWEZWMG0vbE1pOWhOVFJ2TEtzV2ovSDQK1zl1pXljawzM9Iise1WFUxjifnlVqLlg\nMN8nHnMgsVeyZReI7BX+G43jUsFGaY2S6Gp8z+Q4syR48+q96kU9ZA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-11-14T15:46:20Z",
		"mac": "ENC[AES256_GCM,data:M7pdHALIcJgBhbpSQqEazJk0A6IK4qZMehq08q6/6sFxu7jLwDbzqFhxg71OPaoWtx6GJJYCI06a7/YTlYrtRAxysH5og6os1QY7KbN85YunZ/CaiBtD0hzs7bAlyB6rw7MXn6PRBFtVnuhb5P2UTudd5uEU1RDLzxtIPcbIYdA=,iv:TQNsNGe+Qy1Qxa0HRhQX4MLtk5gVSBPLxzSQhtMz3NA=,tag:olNrVS23yiwtDR+8kFrVwg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.1"
	}
}