{
	"data": "ENC[AES256_GCM,data:0mLExwHrZKNSSL2jLoY3L0ez8Wxe2JGGJ1K4D6N0CZy9ZWm1wllBkfRsZBjZaSeSB2/i1xyMXDg8sT+qYX9zinSV2RHdweDC3JS/SmkJyyKBZwRj/yxujZWPq8msuylnjL2yrUfs1nigbOGVfGXrol2q,iv:CZwQOFmNCvONm4vFzw5guT3+tWEdVLehWxqASj7znws=,tag:ZMrVTAhjABWXmoV9stnIIw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1tc8gpfjyheg2x98rdk6q9cf22y8w47fg4fet44tkdfy08p03gd0qjm7dxj",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpblYxQVJ2N1F6bUpPQmF1\nQ25UM0s5TmhCdkhsTTgyZWV6Rnh6d0tSaVVVCkRoTncxakptWkF2ZE1zcnlWaEl1\neW1sYWtPQVRyNnBQUGthRFNUMTlqRVkKLS0tIGl6cy8vVC82VVdCUHUzbTNxV2lk\nUERxY0hwVXdVUURhWWcwbUtOTGJEOEkKV2yH23cJRh4DSM6cYeP/kekYPjR3bYND\niNwmHSnXq2RC/IF/WLQVnl8vZyD6jgWKo4C1hNLg/JJf02m4WQ8mEA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-07-05T14:13:15Z",
		"mac": "ENC[AES256_GCM,data:AuFWuCDZ9nN03MtlKUGbKP1GPz7AnKP8jpWG4lODTloHuOPOzFzxcAvWges/60l/a8hQl4tjuq6DHbG8DJLG3YDIBTfJb4Q0MnxsLk5Eze7qXhcDAcWwnIh7k2qwdyHnpTzJy9ehYG7IJPJQVzQq2DnUfpHnFPJNvwD56WK3FsQ=,iv:BVK2kYOqnzTLF3URXtZL4nxdWVo8/ooZAyhbsb2nZlA=,tag:bABlQ/5Dt12fl/Px6HrA/A==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.3"
	}
}